<template>
  <div>
    <div v-if="data.length > 0" class="task__container">
      <div style="">
        <div v-for="item in data" :key="item.title + item.type" class="task">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center ml-3 mr-3 pointer-cursor">
              <span v-if="item.type === 'undone'" class="material-icons-outlined fs-24" @click="changeType(item.type, item.title, 'done')">radio_button_unchecked</span>
              <span v-if="item.type === 'done'" class="material-icons-outlined fs-24" @click="changeType(item.type, item.title, 'undone')">check_circle</span>
            </div>
            <div class="fs-20" :style="item.type === 'done' ? 'text-decoration: line-through' : ''" style="">
              {{ item.title }}
            </div>
          </div>
          <span class="task__delete material-icons-outlined fs-24 ml-3" @click="deleteTask(item.type, item.title)">highlight_off</span>
        </div>
      </div>
    </div>
    <div v-else class="empty-task__container">
      یادداشت‌ای وجود ندارد
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddTask',
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      tasks: []
    }
  },
  methods: {
    changeType (type, title, newType) {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      const itemIndex = this.tasks.findIndex(item => item.title === title && item.type === type)
      if (itemIndex !== -1) {
        this.tasks[itemIndex].type = newType
      }
      localStorage.setItem('tasks', JSON.stringify(this.tasks))
      this.$emit('update')
    },
    deleteTask (type, title) {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      const itemIndex = this.tasks.findIndex(task => task.title === title && task.type === type)
      if (itemIndex !== -1) {
        this.tasks.splice(itemIndex, 1)
      }
      localStorage.setItem('tasks', JSON.stringify(this.tasks))
      this.$emit('update')
    }
  }
}
</script>

<style scoped>
.task__container{
  max-height: 224px;
  overflow-y: scroll;
  margin: 16px 0;
  width: 100%
}
.empty-task__container{
  color: #C7C7C7;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  font-size: 20px
}
.task{
  border-radius: 12px;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0
}
.task:hover{
  background: #F8F8F8;
}
.task__delete{
  display: none;
}
.task:hover .task__delete{
  display: flex;
}
</style>
