<template>
  <div>
    <div class="d-flex align-items-center justify-content-between w-100 color-999">
      <div class="pointer-cursor d-flex align-items-center" @click="completeAll()">
        <span class="material-icons-outlined ml-2 fs-24">done_all</span>
        <span class="fs-12">تکمیل همه تسک‌ها</span>
      </div>
      <div class="pointer-cursor fs-12" @click="deleteCompleted()">
        حذف تکمیل‌شده‌ها
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DeleteNote',
  data () {
    return {
      tasks: []
    }
  },
  methods: {
    completeAll () {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      this.tasks = this.tasks.map(task => ({ ...task, type: 'done' }))
      localStorage.setItem('tasks', JSON.stringify(this.tasks))
      this.$emit('update')
    },
    deleteCompleted () {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      this.tasks = this.tasks.filter(task => task.type !== 'done')
      localStorage.setItem('tasks', JSON.stringify(this.tasks))
      this.$emit('update')
    }
  }
}
</script>

<style scoped>

</style>
