<template>
  <div class="d-flex align-items-center justify-content-between fs-12">
    <div class="d-flex align-items-center">
      <span class="color-000">{{ undoneItemsCount }}</span>
      <span class="color-999 mr-1">تسک مانده</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="pointer-cursor" :class="tab === 'all' ? 'color-000' : 'color-999'" @click="changeDisplayedType('all')">
        همه
      </div>
      <div class="pointer-cursor" :class="tab === 'undone' ? 'color-000' : 'color-999'" style="margin: 0 12px" @click="changeDisplayedType('undone')">
        تکمیل‌نشده‌ها
      </div>
      <div class="pointer-cursor" :class="tab === 'done' ? 'color-000' : 'color-999'" @click="changeDisplayedType('done')">
        تکمیل‌شده‌ها
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Filters',
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      tab: 'all',
      tasks: [],
      undoneItemsCount: 0
    }
  },
  watch: {
    data () {
      this.undoneNumber()
    }
  },
  methods: {
    undoneNumber () {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      this.undoneItemsCount = this.tasks.filter(task => task.type === 'undone').length
    },
    changeDisplayedType (type) {
      this.tab = type
      this.$emit('filter', type)
    }
  }
}
</script>

<style scoped>

</style>
