<template>
  <div>
    <div style="display: flex;align-items: center;justify-content: space-between;padding: 0 50px ;background: #FFF;height: 80px;width: 100%;box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);">
      <div class="d-flex align-items-center fs-16 color-000">
        <div class="pointer-cursor" :class=" mainTab ? 'active-tab' : ''" style="margin-left: 40px" @click="mainTab = true, $router.push('/')">
          صفحه اصلی
        </div>
        <div class="pointer-cursor" :class="!mainTab ? 'active-tab' : ''" @click="notePage()">
          یادداشت‌ها
        </div>
      </div>
      <div class="color-000 fs-16">
        <div v-if="userCheck" class="d-flex align-items-center">
          <div class="pl-3 pointer-cursor" style="border-left: 1px solid #000" @click="logout(), userCheck = false">
            خروج از حساب کاربری
          </div>
          <div class="mr-3">
            ({{ firstName }} {{ lastName }})
          </div>
        </div>
        <div v-else class="pointer-cursor" @click="sendToLogin()">
          ورود به حساب کاربری
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  components: {
  },
  data () {
    return {
      mainTab: true,
      userCheck: false,
      noteTabClicked: false,
      firstName: '',
      lastName: ''
    }
  },
  mounted () {
    if (this.$route.name === 'notes') {
      this.mainTab = false
    }
    this.checkUser()
    this.$root.$on('login', (message) => {
      if (message) {
        this.checkUser()
        if (this.noteTabClicked) {
          this.mainTab = false
          this.noteTabClicked = false
        }
      }
    })
  },
  methods: {
    checkUser () {
      if (this.isJwtSet()) {
        this.userCheck = true
        this.firstName = localStorage.getItem('firstName')
        this.lastName = localStorage.getItem('lastName')
      } else {
        this.userCheck = false
      }
    },
    notePage () {
      if (!this.userCheck) {
        this.$router.push('/login')
        this.noteTabClicked = true
        this.$root.$emit('login', true)
        this.$root.$emit('noteTabClicked', true)
      } else {
        this.$router.push('notes')
        this.mainTab = false
        this.noteTabClicked = true
      }
    },
    sendToLogin () {
      this.$router.push('/login')
      this.$root.$emit('noteTabClicked', false)
    },
    logout () {
      this.jwt('')
      this.$router.push('/')
      this.mainTab = true
    }
  }
}
</script>

<style scoped>
.active-tab{
  color: #004DE1
}
</style>
