<template>
  <div>
    <div class="input__container">
      <span class="material-icons-outlined ml-3 fs-36">edit_note</span>
      <input v-model="note" class="input__box" placeholder="متن خود را تایپ نمایید..." @keydown.enter="addTask()">
      <span v-if="note.length > 0" class="material-icons-outlined mr-3 fs-24 pointer-cursor" @click="addTask()">add_circle_outline</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data () {
    return {
      note: '',
      tasks: []
    }
  },
  methods: {
    addTask () {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      if (this.note.length > 0) {
        const newTask = { type: 'undone', title: this.note }
        const isDuplicate = this.tasks.some(task => task.type === newTask.type && task.title === newTask.title)

        if (!isDuplicate) {
          this.tasks.unshift(newTask)
        }
        this.note = ''
        localStorage.setItem('tasks', JSON.stringify(this.tasks))
        this.$emit('update')
      }
    }
  }
}
</script>

<style scoped>
.input__container{
  width: 100%;
  height: 60px;
  background: #F8F8F8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 12px
}
.input__box{
  font-size: 20px;
  border: none;
  width: 100%;
  height: 28px;
  background: inherit
}
input::placeholder{
  font-size: 18px;
}
</style>
