
@font-face {
    font-family: iranyekan;
    src: url('fonts/iranyekan.eot');
    src: local('iranyekan'),
    url('fonts/iranyekan.ttf') format('ttf'),
    url('fonts/iranyekan.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

