/*
* global styles
*/

@import url(./fonts.css);
@import 'material-icons/iconfont/material-icons.css';

html, #__nuxt, #__layout, #__layout > div {
  height: 100%;
}

body {
  text-align: right;
  direction: rtl;
  font-family: iranyekan;
  font-weight: 500 !important;
  height: 100%;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-36 {
  font-size: 36px
}

.color-000{
  color: #000;
}
.color-999{
  color: #999999;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EE4036;
  border-radius: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #E6E6E6;
  border-radius: 4px;
  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}
::-webkit-scrollbar {
  width: 2px;
  height: 6px;
  border-radius: 4px
}
.pointer-cursor {
  cursor: pointer;
}
