<template>
  <div style="background: #F1F3F6">
    <Header />
    <nuxt style="padding-bottom: 48px" />
  </div>
</template>

<script>
import Header from '@/components/header'
export default {
  name: 'Default',
  components: {
    Header
  }
}
</script>

<style scoped>

</style>
