<template>
  <div class="w-100 d-flex justify-content-center">
    <div class="page__container" />
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  components: {
  }
}
</script>
