<template>
  <div class="w-100 d-flex justify-content-center">
    <div style="margin-top: 200px">
      <input v-model="userName" class="login__input" placeholder="نام کاربری">
      <input v-model="password" class="login__input" placeholder="کلمه عبور">
      <div class="enter__button" @click="loginFunc()">
        ورود
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      userName: '',
      password: '',
      goToNotePage: false
    }
  },
  mounted () {
    this.$root.$on('noteTabClicked', (message) => {
      this.goToNotePage = message
    })
  },
  methods: {
    loginFunc () {
      if (this.password !== '' && this.userName !== '') {
        this.$axios.post('account/login', {
          username: this.userName,
          password: this.password
        }, {
          headers: {
            'api-version': '1',
            'x-api-key': '676bdb1ce2d84276b8874a41f143c739'
          }
        }).then((response) => {
          this.setJwtToCookie(response.headers.authorization)
          localStorage.setItem('firstName', this.parseJwt().FirstName)
          localStorage.setItem('lastName', this.parseJwt().LastName)
          this.$root.$emit('login', true)
          if (this.goToNotePage) {
            this.$router.push('/notes')
          } else {
            this.$router.push('/')
          }
          this.getProfile()
        })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    getProfile () {
      this.$axios.get('user/my-profile', {
        headers: {
          'api-version': '1',
          'x-api-key': '676bdb1ce2d84276b8874a41f143c739'
        }
      }).then((response) => {
        console.log(response)
      })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
.login__input{
  width: 370px;
  height: 50px;
  border-radius: 12px;
  background: #FFF;
  padding:  0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: none;
}
.enter__button{
  color: #FFFFFF;
  cursor:pointer;
  margin-top: 40px;
  border-radius: 12px;
  background: #004DE1;
  width: 370px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
</style>
