<template>
  <div class="d-flex justify-content-center">
    <div class="box__container">
      <search @update="updateTasks()" />
      <delete-note style="margin: 22px 0 0 10px" @update="updateTasks()" />
      <hr style="color: #F0F0F0; margin: 10px 0 0 0">
      <add-task :data="tasks" @update="updateTasks()" />
      <hr style="color: #F0F0F0; margin: 0">
      <filters style="margin-top: 10px" :data="tasks" @update="updateTasks()" @filter="displayedTask($event)" />
    </div>
  </div>
</template>

<script>
import search from '@/components/search'
import deleteNote from '@/components/deleteNote'
import addTask from '@/components/addTask'
import filters from '@/components/filters'
export default {
  name: 'Notes',
  components: {
    search,
    deleteNote,
    addTask,
    filters
  },
  data () {
    return {
      tasks: [],
      type: 'all'
    }
  },
  mounted () {
    this.updateTasks()
  },
  methods: {
    updateTasks () {
      this.tasks = JSON.parse(localStorage.getItem('tasks'))
      if (this.type === 'undone') {
        this.tasks = this.tasks.filter(task => task.type === 'undone')
      } else if (this.type === 'done') {
        this.tasks = this.tasks.filter(task => task.type === 'done')
      } else {
        this.tasks = JSON.parse(localStorage.getItem('tasks'))
      }
    },
    displayedTask (evt) {
      this.type = evt
      this.updateTasks()
    }
  }
}
</script>

<style scoped>
.box__container{
  margin-top: 80px;
  width: 600px;
  background: #FFFFFF;
  padding: 16px;
  border-radius:12px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.06)
}
</style>
